@import '../variables.css';

.root {
  margin: 60px auto;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  & table {
    width: 100%;
    margin: 0;
    border: none;
    border-collapse: collapse;
    font-size: 0.88rem;

    & th,
    & td {
      padding: 1em;
      border: none;
      border-top: 1px solid var(--color-border);
      border-bottom: 1px solid var(--color-border);
      text-align: center;
      font-weight: normal;
      font-size: 1em;
    }

    & thead th {
      border-bottom-width: 2px;
    }

    & tbody th {
      text-align: left;
    }
  }

  @media (max-width: 567px) {
    margin-right: -15px;
    margin-left: -15px;
  }
}
